[user]
	name = Taylor Snead
	email = taylorsnead@gmail.com
	username = loafofpiecrust

[init]
	defaultBranch = main

[credential]
	helper = cache --timeout=7200

[core]
	editor = emacsclient
	pager = delta
	askPass = ""

[credential]
	helper = netlify

[interactive]
	diffFilter = delta --color-onlyexcludesfile = ~/.gitignore

[delta]
	syntax-theme = ansi-dark

[github]
	user = loafofpiecrust

[alias]
	prune-removed = "! git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"

[submodule]
	recurse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	no-status = true
