[user]
	name = Taylor Snead
	email = taylorsnead@gmail.com
	username = loafofpiecrust

[credential]
	helper = cache

[core]
	editor = code
	excludesfile = ~/.gitignore

[github]
	user = loafofpiecrust
	
[alias]
	prune-removed = "! git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
