[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = https://github.com/hlissner/doom-emacs
	branch = develop

[submodule "fonts/.fonts/sf-mono"]
	path = fonts/.fonts/sf-mono
	url = git@github.com:supercomputra/SF-Mono-Font
